pin-depends: [
  ["forester.dev" "git+https://git.sr.ht/~jonsterling/ocaml-forester"]
  ["forester_irmin.dev" "git+https://git.sr.ht/~jonsterling/ocaml-forester-irmin#50dd308a372f8f0bdee361308e2cb312e27ebc06"]
  ["irmin.dev" "git+https://github.com/art-w/irmin#9d606d78375abcd4c961331a1e8ee8f9be9212cb"]
  ["irmin-git.dev" "git+https://github.com/art-w/irmin#9d606d78375abcd4c961331a1e8ee8f9be9212cb"]
  ["irmin-fs.dev" "git+https://github.com/art-w/irmin#9d606d78375abcd4c961331a1e8ee8f9be9212cb"]
  ["ppx_irmin.dev" "git+https://github.com/art-w/irmin#9d606d78375abcd4c961331a1e8ee8f9be9212cb"]
]
